@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

* {
    font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(61, 61, 61);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 13%;
    color: white;
}

.logo {
  margin-top: 5%;  
  width: 150px;
}

.logo-wrapper .text {
    font-size: 75px;
    font-family: "Roboto";
    color: #FFF;
}

footer {
    margin-top: auto;
    width: 100%;
    align-self: center;
    height: 60px;
    display: flex;
    color: #FFF;
    background-color: rgb(46, 46, 46);
}

footer a {
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
}

footer a {
    cursor: pointer;
}


footer a:hover {
    text-decoration: bold;
}

form {
    margin: auto;
    display: flex;
    justify-content: center;
    text-align:center;
    margin-bottom: auto;
}


form input {
    text-align:center;
    background: none;
    font-family: inherit;
    padding: 0px 17px;
    height: 48px;
    border: 1px solid white;
    color: white;
    border-radius: 3px;
    outline: none;
    width: 350px;
    margin-top: 5px;
    border-radius: 50px;
    color: #FFF;
}

#center-header{
  align-self: center;
  color:white
}

.footer-buttons{
  margin-top: 10px;
  display:inline-block;
  padding: 10px;
  padding-top: 10px;
}

#Github{
  margin-left: 30%;
  transition: color 0.3s ease;
}
#Github:hover{
  color:orangered;
}
#Discord{
  margin-right: 30%;
  transition: color 0.3s ease;
}
#Discord:hover{
  color:orangered;
}
#GPT{
  margin-left: 50px;
  margin-right: 50px;
  transition: color 0.3s ease;
}
#GPT:hover{
  color:orangered;
}